* {
    padding:0;
    margin:0;
}

h1 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
}

h2 {
    font-size: 18px;
}

/* makes the background take up the whole page */
html, body {
    height: 100%;
}

/* added CSS background gradient */
body {
    background-image: linear-gradient(to right top, #051937, #014369, #00739b, #00a6c7, #12dceb);
    color: white;
    font-family: sans-serif;
    margin: 20px;
}

/* center the duck */
.content {
    display: flex;
    justify-content: center;
}

img {
    display: block;
    max-width: 100%;
    width: 400px;
    margin: 0 auto;
}

/* style & animate the quack button (encloses the duck itself) */
.quackBtn {
    background: transparent;
    border: none;
}
.quackBtn:active {
    transform: translateY(50px);
    cursor: pointer;
}

/* style & animate the quackItOutbutton */
.quackItOutBtn {
    padding: 10px;
    border-radius: 10px;
    background: white;
    margin: 10px;
}
.quackItOutBtn:active {
    transform: translateX(10px);
    cursor: pointer;
}

/* style & animate the Need Inspiration? Btn */
.needInspiration {
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}
.needInspiration:active {
    transform: translateX(-10px);
    cursor: pointer;
}

/* style quote background into speech bubble */
.quoteBubble {
    background: white;
    color: black;
    padding: 10px;
    font-size: 14px;
    font-family: sans-serif;
    border-radius: 10px;
    font-weight: bold;
    margin: 10px;
    max-width: 100%;
    text-align: center;
}